// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



  #main {
    text-align: center;
    top: 30%;
    width: 100%;
    position: absolute;
    line-height: 1em;

  #clock {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    color: white;
  }

  #greeting {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: white;
  }



}

// #main #clock